{% extends 'base.html' %}
{% load promotion_filter %}

{% block title %}Advertisements{% endblock %}

{% block content %}
    <div>
        <form action="" method="GET">
            <input type="number" name="min_price"><br><br>
            <input type="number" name="max_price"><br><br>
            <input type="checkbox" name="instantaneous" value=True checked>
            <button type="submit" class="btn btn-primary">فیلتر</button>
            <br><br>
        </form>
    </div>
    {% for adv in advertisements %}

                <div class="card" style="width: 18rem;">

                    {% if adv.images.first is not None %}
                        <a href="{{ adv.get_absolute_url }}">
                            <img src="{{ adv.images.first.image.url }}" class="card-img-top" alt="{{ adv.title }}">
                        </a>
                    {% endif %}

                    <div class="card-body">

                        <a href="{{ adv.get_absolute_url }}" class="text-dark" style="text-decoration:none"><h5
                                class="card-title">{{ adv.title }}</h5></a>
                        <small class="card-text">{{ adv.price }} تومان</small><br>

                                {% promotion_instantaneous adv as flag %}
                                {% if flag %}
                                    <small class="card-text">فوری{{ adv.date_time_advertisement }} {{ adv.city.name }}</small><br>
                                {% else %}
                                    <small class="card-text">{{ adv.date_time_advertisement }} {{ adv.city.name }}</small><br>
                                {% endif %}
                    </div>

                </div>
    {% endfor %}

{% endblock %}