{% extends 'base.html' %}

{% block title %}Advertisements{% endblock %}

{% block content %}

    {% for cat in categories %}

        <ul class="list-group">

            <a href="{% url "advertisement:advertisement_list" cat.slug %}" class="list-group-item">{{ cat.name }}</a>

            {% for child in cat.children.all %}

                <ul class="list-group">

                    <a href="{% url "advertisement:advertisement_list" child.slug %}"
                       class="list-group-item">{{ child.name }}</a>
                </ul>

            {% endfor %}

        </ul>

    {% endfor %}
    <div>
        <form action="" method="GET">
            <input type="number" name="min_price"><br><br>
            <input type="number" name="max_price"><br><br>
            <button type="submit" class="btn btn-primary">فیلتر</button>
            <br><br>
        </form>
    </div>
    {% for adv in advertisements %}

        <div class="card" style="width: 18rem;">

            {% if adv.images.first is not None %}
                <a href="{{ adv.get_absolute_url }}">
                    <img src="{{ adv.images.first.image.url }}" class="card-img-top" alt="{{ adv.title }}">
                </a>
            {% endif %}

            <div class="card-body">

                <a href="{{ adv.get_absolute_url }}" class="text-dark" style="text-decoration:none"><h5
                        class="card-title">{{ adv.title }}</h5></a>
                <small class="card-text"> {{ adv.price }}</small><br>
                <small class="card-text">{{ adv.date_time_advertisement }} {{ adv.city.name }}</small><br>

            </div>

        </div>

    {% endfor %}

{% endblock %}