<!DOCTYPE html>
{% load get_categories %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>


<body dir="rtl" style="font-family: 'B Nazanin';">

{% include 'inc/navbar.html' %}
{% include 'inc/messages.html' %}

<div style="margin: 20px">
    {% categories as cats %}
    {% for cat in cats %}

        <ul class="list-group">

            <a href="{% url "advertisement:advertisement_list" cat.slug %}" class="list-group-item">{{ cat.name }}</a>

            {% for child in cat.children.all %}

                <ul class="list-group">

                    <a href="{% url "advertisement:advertisement_list" child.slug %}"
                       class="list-group-item">{{ child.name }}</a>
                </ul>

            {% endfor %}

        </ul>

    {% endfor %}
    {% block content %}{% endblock %}
</div>

</body>
</html>