<nav class="navbar navbar-expand-lg text-dark navbar-light" style="font-size: 18px; background-color: white; border-bottom: 1px solid #e4e4e8;">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'advertisement:advertisement_list' %}" style="margin-right: 2px;margin-left: 2px">صفحه اصلی</a>
            <a class="nav-item nav-link" href="{% url 'accounts:profile' %}" style="margin-right: 2px;margin-left: 2px">پروفایل</a>
        </div>
    </div>
</nav>